<div class="allFlex">
      <img src="assets\\images\\bg.jpg" class="bgImgC">
     <div class="childOneFlex">

       <!--返回按钮-->
        <div class="btu-return">
            <div  class="re-btu mat-filed-96-50-write">
                  <button mat-button (click)="clickReturn()">
                    <img src="assets\\images\\return.png" class="imgIcon-w-h">
                    返回
                  </button>
            </div>
        </div>

       <!--最上面的部分四个图表-->
       <div class="topOne">
             <div class="OneChartsTopClass m-r-15"  #TaskExecutionTime><!--任务执行时间--></div>
             <div class="OneChartsTopClass m-r-15" #TaskCompletionRate><!--任务完成率--></div>
             <div class="OneChartsTopClass m-r-15" #TaskTypeProportion><!--任务类型占比--></div>
             <div class="OneChartsTopClass" #TaskQuantity><!--任务数量--></div>
       </div>

       <!--中间部分-->
       <div class="centerTwo" >
         <!--总作业任务数-->
         <div class="centerClassOne center-bg-color-right  m-r-29" fxLayoutGap="15px">
           <div class="imgIcon">
                <img src="assets\\images\\appointment.png" class="imgIcon-w-h">
           </div>
           <div class="spanText">
             <span class="centerFontClass">总作业任务数</span>
           </div>
           <div class="numClass">
              <span class="centerFontNumClass">{{taskCompletionRateDataS.allNum}}</span>
           </div>
         </div>
         <!--总成功次数-->
         <div class="centerClassOne center-bg-color-right  m-r-29" fxLayoutGap="15px">
           <div class="imgIcon">
             <img src="assets\\images\\checkmark_circle_outlined.png" class="imgIcon-w-h">
           </div>
           <div class="spanText">
             <span class="centerFontClass">总成功次数</span>
           </div>
           <div class="numClass">
             <span class="centerFontNumClass">{{taskCompletionRateDataS.Success}}</span>
           </div>
         </div>
         <!--总失败次数-->
         <div class="centerClassOne center-bg-color-error" fxLayoutGap="15px">
           <div class="imgIcon">
             <img src="assets\\images\\clear_circle_outlined.png" class="imgIcon-w-h">
           </div>
           <div class="spanText">
             <span class="centerFontClass">总失败次数</span>
           </div>
           <div class="numClass">
             <span class="centerFontNumClass">{{taskCompletionRateDataS.Fail}}</span>
           </div>
         </div>
       </div>

       <!--下面表单部分-->
       <div class="endThree">
         <div class="tableAllClass">
           <!--标题部分-->
             <div class="table-title">
                    <span class="table-text-size">作业监控记录</span>
             </div>
           <!--选择部分-->
          <!-- <div class="end-table-search">
          &lt;!&ndash;   <div class="btu-select">
               <div class="temp-oneSelect mat-filed-96-50-write">
                 <mat-form-field [floatLabel]="'auto'"  >
                   <mat-select [(value)]="tableCell.selectID"  (selectionChange)="initTableDataDetailSource()">
                     <mat-option  *ngFor="let d of tableCell.selectIDSource" [value]="d.value"> {{d.name}}</mat-option>
                   </mat-select>
                 </mat-form-field>
               </div>
               <div class="temp-input">
                 <button mat-button (click)="initTableDataDetailSource()">搜索</button>
               </div>
             </div>&ndash;&gt;
             &lt;!&ndash;监控状态
             <div class="oneSelect mat-filed-96-50-write">
               <mat-form-field [floatLabel]="'auto'" >
                 <mat-select [(value)]="tableCell.MonitorValue"  placeholder="监控状态"   (selectionChange)="initTableDataSource()">
                   <mat-option  *ngFor="let d of tableCell.MonitorValueSource" [value]="d.value"> {{d.name}}</mat-option>
                 </mat-select>
               </mat-form-field>
             </div>
             &lt;!&ndash;选择分类&ndash;&gt;
             <div class="oneSelect mat-filed-96-50-write">
               <mat-form-field [floatLabel]="'auto'" >
                 <mat-select [(value)]="tableCell.selectType"  placeholder="选择分类"  (selectionChange)="initTableDataSource()">
                   <mat-option  *ngFor="let d of tableCell.selectTypeSource" [value]="d.value"> {{d.name}}</mat-option>
                 </mat-select>
               </mat-form-field>
             </div>
             &lt;!&ndash;输入信息&ndash;&gt;
             <div class="inputText mat-filed-96-50" >
               <mat-form-field [floatLabel]="'never'">
                 <input matInput  autocomplete="off" type="text" value="{{tableCell.inputData}}" placeholder="请输入作业名称..."  class="inputCla" id="inputCla">
                 <button  mat-icon-button   matSuffix class="btuColor" (click)="initTableDataSource()">
                   &lt;!&ndash;<mat-icon >search</mat-icon>&ndash;&gt;
                   <img src="assets\\images\\search.png">
                 </button>
               </mat-form-field>
             </div>&ndash;&gt;
           </div>-->
           <!--表单部分-->
           <div class="form-table-class">
                <div class="table-class-all">
                 <!-- <mat-table [dataSource]="tableCell.bussTableSource" class="buss-data-table">
                    <ng-container *ngFor="let cou of tableCell.bussTableCol ; index as k;">
                      <ng-container matColumnDef={{cou}}>
                        <mat-header-cell *matHeaderCellDef>
                          <div *ngFor="let heard of tableCell.bussTableHer"> {{heard[cou]}}</div>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element ; index as i;">
                          <ng-container *ngIf="'operation' === cou">
                            <div>
                              <a (click)="openDetailTemplate(DetailTemplate , element)">详情</a>
                            </div>
                          </ng-container>
                          <ng-container *ngIf="'operation' !== cou">
                            <span [matTooltip]="element[cou]">{{element[cou]}} </span>
                          </ng-container>
                        </mat-cell>
                      </ng-container>
                    </ng-container>
                    <mat-header-row
                      *matHeaderRowDef="tableCell.bussTableCol; sticky: true"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: tableCell.bussTableCol;"></mat-row>
                  </mat-table>-->
                  <!--<mat-table  [dataSource]="tableCell.bussTableSource"  class="buss-data-table"   (scroll)="scrollT($event)">
                    <ng-container  matColumnDef="{{cou}}" *ngFor="let cou of tableCell.bussTableCol ; index as k;">
                      <mat-header-cell   *matHeaderCellDef>
                        <div *ngFor="let heard of tableCell.bussTableHer"> {{heard[cou]}}</div>
                      </mat-header-cell>

                        <mat-cell  *matCellDef="let element ; index as i;" >
                          <ng-container *ngIf="'log_field' !== cou">
                            <span [matTooltip]="element[cou]">{{element[cou]}} </span>
                          </ng-container>
                          <ng-container *ngIf="'log_field' === cou">
                            <a (click)="openDialog(DetailMatDialog , element)">查看</a>
                          </ng-container>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row
                      *matHeaderRowDef="tableCell.bussTableCol; sticky: true"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: tableCell.bussTableCol" ></mat-row>
                  </mat-table>-->

                  <table  class="table-v-c">
                    <thead>
                    <tr class="table-v-c-tr-1">
                      <th>记录编号</th>
                      <th>作业名称</th>
                      <th>执行开始时间</th>
                      <th>执行结束时间</th>
                      <th>运行状态</th>
                      <th>查看详情</th>
                    </tr>
                    </thead>
                   <tbody>
                   <ng-container *ngFor="let element of tableCell.bussTableSource">
                     <tr>
                       <th>{{element['id_job']}}</th> <!-- [matTooltip]="element['id_job']"-->
                       <th >{{element['jobname']}}</th> <!-- [matTooltip]="element['jobname']"-->
                       <th >{{element['enddate']}}</th> <!--[matTooltip]="element['enddate']"-->
                       <th >{{element['logdate']}}</th> <!-- [matTooltip]="element['logdate']"-->
                       <th >{{element['status']}}</th>  <!-- [matTooltip]="element['status']"-->
                       <th> <a (click)="openDialog(DetailMatDialog , element)">查看</a></th>
                     </tr>
                   </ng-container>
                   </tbody>
                  </table>
                </div>
           </div>
         </div>
       </div>
     </div>
</div>
<!--<ng-template #DetailTemplate >
  <app-detail-template [jobName]="JobName"></app-detail-template>
</ng-template>-->
<ng-template #DetailMatDialog class="ng-template-me-dialog">
  <div mat-dialog-title class="dialog-manage-title">
    <div class="mat-dialog-title-tips">
      <div ><span class="title_dialog_">操作详情</span></div>
      <div><button  mat-icon-button 	 mat-dialog-close ><mat-icon>clear</mat-icon></button></div>
    </div>
  </div>
  <mat-dialog-content>
    <div class="content-class mat-input-te">
      <mat-form-field>
        <textarea matInput autocomplete="off"   value="{{tableCell.jobDetail}}"></textarea>
      </mat-form-field>
    </div>
  </mat-dialog-content>
</ng-template>
